<footer class="footer-container container">
  <div class="footer-row row">
    <div class="footer-column col-md-6 col-6">
      <div>
        <a href="#"><%= t("footer.terms") %></a>
      </div>
      <div>
        <a href="#"><%= t("footer.contact") %></a>
      </div>
    </div>
    <div class="footer-column col-md-6 col-6">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
</footer>
