<div class="footer">
    <h3>Follow us</h3>
      <div class = "social">
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>

        <a href="#" class="icon">
          <i class="fab fa-twitter"></i>
        </a>

        <a href="#" class="icon">
          <i class="fab fa-github"></i>
        </a>
      </div>
  </div>
