
.card-category {
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 30%;
  background-color: $line;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
}

.cards-layout {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 200px;
}


.card-category p {
  font-size: 18px;
}

.icone-who img {
  position: relative;
  top: 7px;
  right: 5px;
}

.card-size {
  height: 300px !important;
}

.checks {
  display: inline-flex;
}

.checks p {
  font-size: 22px;
  margin: 10px;
}

.checks i {
  color: $line;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr ;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
