.card-index {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  background-color: darkcyan;
  border-radius: 15px;
  color: white;
}

.card-index a {
  color: $line2
}

.card-index .card-index-content {
  flex-grow: 1;
  padding: 0 24px;
}

.card-index p {
  margin: 0;
  line-height: 1.4;
}

.card-index small {
  color: #999999;
  font-weight: bold;
}
.card-index .card-index-actions {
  display: flex;
  transition: ease .3s;
}

.card-index .card-index-actions a {
  color: $line;
  margin-left: 16px;
  font-size: 14px;
}

.card-index .card-index-actions a:hover {
  color: #555555;
}
