<h2 class="text-center mt-1">Book this travel</h2>
<div class="d-flex justify-content-center ">
    <%= simple_form_for [@purchase ,@order] do |f| %>
    <hr>
      <div>
        <div class="form-group align-content-center pagination-center" style = "text-align: center">
          <%= f.input :drop_place %>
          <%= f.button :submit, "submit", class: "btn-flat" %>
        </div>
      </div>
    <% end %>
</div>
