<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547471080-7cc2caa01a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);">
  <div class="container text-center pagination-center">
    <%=image_tag('Line.png')%>
    <h1 class="mb-3">Crowdshipping</h1>
    <p>Connect with your family by joining our community</p>
  </div>
</div>
