.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 10px;
  background: $line;
  transition: background 0.3s ease;
  border: none;
}

.btn-flat:hover {
  background: $line;
  color: white;
}

.btn-flat-2 {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: black;
  transition: background 0.3s ease;
  border: none;
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.cache-photo {
  visibility: hidden;
}
