.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 25px;
  background: $line;
  transition: background 0.3s ease;
  border: none;
}

.btn-flat:hover {
  background: $line;
  color: white;
}

.btn-flat-2 {
  color: white;
  padding: 8px 24px;
  border-radius: 25px;
  background: $line2;
  transition: background 0.3s ease;
  border: none;
}
